* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
/* ======================================HEADER================================================ */

.header-container {
  width: 100%;
  height: 30%;
}

.header-container__nav {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
  position: relative;
}

.nav__brand img {
  width: 1.904rem;
  height: 2rem;
}

.nav__brand {
  display: inline-flex;
  margin-right: 4rem;
  padding: 0 1rem;
}

.nav__brand h1 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #256ee4;
}
.nav__search {
  display: flex;
  position: relative;
}
.search-bar {
  width: 22.8125rem;
  height: 2.824rem;
  background-color: white;
  border-radius: 0.3125rem;
  border: 1px solid #14141438;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  flex: 1;
}

.search-bar button,
.search-bar img {
  width: 1.50125rem;
  height: 1.50125rem;
  /* position: absolute;
  bottom: 5px;
  left: 10%; */
  margin-right: 0.5rem;
  border: 0;
  cursor: pointer;
}

.search-bar img {
  background: white;
}

input {
  width: 13.625rem;
  height: 1.5rem;
  border: 0;
  outline: none;

  margin: 0 0.5rem;
}

::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  color: #7a7a7a;
}

.nav__dropdown {
  width: 11.0625rem;
  height: 2.125rem;
  /* background-color: red; */
  text-align: center;
  position: relative;
  left: -2%;
}

.nav__dropdown label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.215;
  color: #7a7a7a;
}

.nav__dropdown select {
  outline: none;
  border: none;
  background: transparent;
  color: #7a7a7a;
}

.nav__cart {
  display: flex;
  height: 2.125rem;
  align-items: center;
  position: relative;
  left: -4%;
}

.nav__cart img {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 5px;
}

.nav__cart a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: #7a7a7a;
}

.nav__btns {
  width: 7.6875rem;
  height: 3.3125rem;
  border: 1px solid #256ee4;
  background-color: white;
  border-radius: 0.3125rem;
  color: #256ee4;
  margin: 0 5px;
  cursor: pointer;
}

.btn {
  background-color: #256ee4;
  color: white;
}

.line {
  width: 100%;
  border: 1px solid #e0e0e0;
  margin: 1rem 0;
}

.header-container__2ndnav {
  height: 1.8125rem;

  margin: 0 auto;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #14141480;
  margin-right: 2.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
}

nav a:hover,
a:active {
  color: #256ee4;
}

#categories {
  outline: none;
  border: none;
  background: transparent;
  color: #7a7a7a;
}

/* =========================HERO SECTION======================================= */

.hero,
.img {
  width: 100vw;
  height: 36rem;
  background-color: #cadeff;
  position: relative;
}

.img {
  opacity: 0.1;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0%;
}

.hero-container h1 {
  font-family: "Lato", sans-serif;
  color: #141414;
  font-weight: 700;
  font-size: 3.125rem;
  margin-bottom: 0.5rem;
  line-height: 4.3125rem;
}

.hero-container span {
  color: #256ee4;
  font-style: italic;
}

.hero-container p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0.5rem;
  line-height: 30px;
}

.hero-container__text {
  margin-top: 3rem;
  margin-left: 3rem;

  padding: 10px;
}

.hero-container button {
  margin-top: 0.5rem;
}

.topproducts-container {
  background-color: #f2f7ff;
  width: 90rem;
  height: 36.375rem;
  position: relative;
}

.topproducts__payment {
  width: 73rem;
  height: 8rem;
  border-radius: 0.625rem;
  background-color: white;
  position: absolute;
  top: -5%;
  margin-left: 5rem;
}

.tp {
  width: 64.5rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.card-line {
  height: 8rem;
  border-left: 1px solid #e5efff;
  margin-right: 1rem;
}

.payment__card {
  display: inline-flex;
}

.payment__card a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.card-text h1 {
  font-size: 18px;
}

.card-text p {
  font-size: 16px;
}

.payment__card img {
  float: left;
  width: 34px;
  height: 34px;
}

.card-img {
  padding-right: 10px;
}

.container {
  width: 100%;
  position: absolute;
  top: 40%;
}

.subheadings {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 2rem;
}

.topSellingPtoducts-container {
  width: 80rem;
  height: 17.43375rem;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}

.topSellingProducts {
  width: 17.375rem;
  height: 16.125rem;
  background-color: white;
  border-radius: 5px;
}
.topSellingProducts img {
  width: 15rem;
  height: 10rem;
  margin-top: 0.5rem;
  margin-left: 1.1rem;
  position: relative;
}
.float {
  float: right;
  color: #256ee4;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0em;
}

.lineThru {
  text-decoration: line-through;
  margin-left: 0.5rem;
  font-size: 14px;
  font-weight: 400;
  color: #cccccc;
}

.topTexts {
  padding: 10px;
  margin-top: 0.6rem;
  margin-left: 1rem;
}

.topTexts h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.topTexts p {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.0162em;
  text-align: left;
  color: #141414;
}

.discount {
  width: 3.25rem;
  height: 1.375rem;
  background-color: #c9ddff;
  border-radius: 5px;
  position: absolute;
  top: 25%;
  margin-left: 1rem;
}

.discount p {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #256ee4;
  text-align: center;
  padding-top: 2px;
}

.moreFromMyspace-container {
  width: 90rem;
  height: 36.375rem;
  position: relative;
}

.bg {
  opacity: 0.02;
}

.mySpace {
  position: absolute;
  top: 25%;
  /* background-color: red; */
  margin-left: 4rem;
  width: 77.5rem;
  height: 20rem;
  display: flex;
  align-items: center;
}

.moreFromMyspace-container h3 {
  /* font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding: 1rem; */
  position: absolute;
  top: 15%;
  left: 40%;
}

.moreFromMyspace {
  width: 18rem;
  height: 18rem;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: 0.9rem;
}

.moreFromMyspace img {
  width: 16rem;
  height: 14rem;
  padding: 1rem;
  margin-left: 1.05rem;
}

.moreFromMyspace h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  color: #256ee4;
}

.moreFromMyspace p {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  color: #141414;
}

.texts {
  margin-left: 2rem;
}

.texts a {
  text-decoration: none;
}

.ads-container {
  width: 80rem;
  height: 40rem;
  display: flex;
  justify-content: space-between;
  margin-left: 2.25rem;
  flex-wrap: wrap;
}

.ads1 {
  width: 80rem;
  height: 22rem;
  background-image: url(../Img/flier.png);
}

.ads2 {
  width: 39rem;
  height: 16.4rem;
  background-image: url(../Img/2.png);
  position: relative;
}

.writeup {
  width: 18rem;
  height: 11.34rem;
  /* background-color: red; */
  position: absolute;
  top: 26%;
  margin-left: 1.5rem;
}

.writeup1 {
  position: absolute;
  top: 26%;
}

.ads-p {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  margin-top: 0.5rem;
  padding: 5px;
}

.ads-h4 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;

  text-align: left;
  color: white;
  margin-bottom: 0.5rem;
  padding: 5px;
}

.ads3 {
  width: 39rem;
  height: 16.4rem;
  background-image: url(../Img/3.png);
  position: relative;
}

.btns {
  width: 11rem;
  height: 2.4rem;
  border: none;
  border-radius: 6px;
  color: #256ee4;
  cursor: pointer;
}

/* ===============================FRESH DEALS SECTION==============================================  */
.freshDeals-section {
  width: 80rem;
  height: 44.3rem;
  background-color: #f2f7ff77;
  margin-left: 2.25rem;
  margin-top: 2rem;
}

.freshDeals {
  width: 16rem;
  height: 17.3rem;
  background-color: white;
  border-radius: 6px;
  position: relative;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.freshDeals img {
  padding: 5px;
  margin-top: 0.5rem;
  height: 10rem;
  width: 15rem;
}

.freshDeals p {
  color: #256ee4;
}

.ratings {
  color: #fe9b0e;
}

i {
  color: #141414;
  width: 2rem;
  height: 2rem;
}

.freshDeals-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.dc {
  position: absolute;
  top: 10%;
  margin: 10px;
}

.flyer {
  width: 80rem;
  height: 19.4rem;
  background-color: #f4ebe8;
  margin-left: 2.25rem;
  position: relative;
  margin-top: 3rem;
}

.flyer-image {
  position: absolute;
  left: 0%;
  top: 3%;
}

.flyer-text {
  position: absolute;
  left: 63%;
  top: 15%;
  width: 23rem;
  height: 17rem;
}

.flyer-text H4 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0em;
  text-align: left;
  color: #cd6a01;
  margin-bottom: 1rem;
}

.flyer-text p {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  letter-spacing: 0em;
  text-align: left;
  color: #cd6a01;
  margin-bottom: 1rem;
}

.flyer-text button {
  width: 8rem;
  height: 3rem;
  padding: 13.35px;
  border-radius: 6.67px;
  background-color: #da850d;
  color: white;
  border: none;
}

/* ================================MYSPACE SECTION=================================================== */

.mispace {
  width: 90rem;
  height: 42rem;
  margin-top: 4rem;
}

.myspace-mobile-container {
  width: 90rem;
  height: 24rem;
  background-image: url(../Img/App\ frame.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.myspace-mobile {
  width: 38rem;
  height: 17rem;
  /* background-color: white; */
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 20px;
}

.smartphone {
  position: absolute;
  top: 10%;
  right: 9%;
}

.myspace-mobile p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin-bottom: 1rem;
  text-align: justify;
  color: #141414;
}

.myspace-mobile h4 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1rem;
}

.myspace-mobile img {
  margin-bottom: 0.5rem;
}

.blue {
  color: #256ee4;
}

.margin {
  margin-left: 1rem;
}

.myspace-contact {
  width: 80rem;
  height: 18.3rem;
  background-image: url(../Img/Frame\ 8180.png);
  margin-left: 2.5rem;
}

b {
  font-size: 1rem;
  letter-spacing: 0.03cm;
}
