* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
/* ======================================HEADER================================================ */

.header-container {
  width: 100vw;
  height: 30vh;
}

.header-container__nav {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
  position: relative;
}

.nav__brand img {
  width: 1.904rem;
  height: 2rem;
}

.nav__brand {
  display: inline-flex;
  margin-right: 4rem;
  padding: 0 1rem;
}

.nav__brand h1 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #256ee4;
}
.nav__search {
  display: flex;
  position: relative;
}
.search-bar {
  width: 22.8125rem;
  height: 2.824rem;
  background-color: white;
  border-radius: 0.3125rem;
  border: 1px solid #14141438;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  flex: 1;
}

.search-bar button,
.search-bar img {
  width: 1.50125rem;
  height: 1.50125rem;
  /* position: absolute;
  bottom: 5px;
  left: 10%; */
  margin-right: 0.5rem;
  border: 0;
  cursor: pointer;
}

.search-bar img {
  background: white;
}

input {
  width: 13.625rem;
  height: 1.5rem;
  border: 0;
  outline: none;

  margin: 0 0.5rem;
}

::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  color: #7a7a7a;
}

.nav__dropdown {
  width: 11.0625rem;
  height: 2.125rem;
  /* background-color: red; */
  text-align: center;
  position: relative;
  left: -2%;
}

.nav__dropdown label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.215;
  color: #7a7a7a;
}

.nav__dropdown select {
  outline: none;
  border: none;
  background: transparent;
  color: #7a7a7a;
}

.nav__cart {
  display: flex;
  height: 2.125rem;
  align-items: center;
  position: relative;
  left: -4%;
}

.nav__cart img {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 5px;
}

.nav__cart a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: #7a7a7a;
}

.nav__btns {
  width: 7.6875rem;
  height: 3.3125rem;
  border: 1px solid #256ee4;
  background-color: white;
  border-radius: 0.3125rem;
  color: #256ee4;
  margin: 0 5px;
}

.btn {
  background-color: #256ee4;
  color: white;
}

.line {
  width: 100%;
  border: 1px solid #e0e0e0;
  margin: 1rem 0;
}

.header-container__2ndnav {
  height: 1.8125rem;

  margin: 0 auto;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #14141480;
  margin-right: 2.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
}

nav a:hover,
a:active {
  color: #256ee4;
}

#categories {
  outline: none;
  border: none;
  background: transparent;
  color: #7a7a7a;
}

/* =========================HERO SECTION======================================= */

.hero,
.img {
  width: 100%;
  height: 36rem;
  background-color: #cadeff;
  position: relative;
}

.img {
  opacity: 0.1;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0%;
}

.hero-container h1 {
  font-family: "Lato", sans-serif;
  color: #141414;
  font-weight: 700;
  font-size: 3.125rem;
  margin-bottom: 0.5rem;
  line-height: 4.3125rem;
}

.hero-container span {
  color: #256ee4;
  font-style: italic;
}

.hero-container p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0.5rem;
  line-height: 30px;
}

.hero-container__text {
  margin-top: 3rem;
  margin-left: 3rem;

  padding: 10px;
}

.hero-container button {
  margin-top: 0.5rem;
}

.topproducts-container {
  background-color: #f2f7ff;
  width: 90rem;
  height: 36.375rem;
  position: relative;
}

.topproducts__payment {
  width: 73rem;
  height: 8rem;
  border-radius: 0.625rem;
  background-color: white;
  position: absolute;
  top: -5%;
  margin-left: 5rem;
}

.tp {
  width: 64.5rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.card-line {
  height: 8rem;
  border-left: 1px solid #e5efff;
  margin-right: 1rem;
}

.payment__card {
  display: inline-flex;
}

.payment__card a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.card-text h1 {
  font-size: 18px;
}

.card-text p {
  font-size: 16px;
}

.payment__card img {
  float: left;
  width: 34px;
  height: 34px;
}

.card-img {
  padding-right: 10px;
}

.container {
  width: 100%;
  position: absolute;
  top: 40%;
}

.container h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 2rem;
}

.topSellingPtoducts-container {
  width: 80rem;
  height: 17.43375rem;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}

.topSellingProducts {
  width: 17.375rem;
  height: 16.125;
  background-color: white;
  border-radius: 5px;
}
.topSellingProducts img {
  width: 15.4375rem;
  height: 10.0625rem;
}
.float {
  float: right;
  color: #256ee4;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0em;
}

.lineThru {
  text-decoration: line-through;
  margin-left: 0.5rem;
  font-size: 14px;
  font-weight: 400;
  color: #cccccc;
}

.topTexts {
  margin: 10px;
  padding: 10px;
}

.topTexts h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.topTexts p {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.0162em;
  text-align: left;
  color: #141414;
}
