* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background-color: #f2f7ff;
}
/* ======================================HEADER================================================ */

.header-container {
  width: 100%;
  height: 30%;
  background-color: white;
}

.header-container__nav {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
  position: relative;
  padding-bottom: 1rem;
}

.nav__brand img {
  width: 1.904rem;
  height: 2rem;
}

.nav__brand {
  display: inline-flex;
  margin-right: 4rem;
  padding: 0 1rem;
}

.nav__brand h1 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #256ee4;
}
.nav__search {
  display: flex;
  position: relative;
}
.search-bar {
  width: 22.8125rem;
  height: 2.824rem;
  background-color: white;
  border-radius: 0.3125rem;
  border: 1px solid #14141438;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  flex: 1;
}

.search-bar button,
.search-bar img {
  width: 1.50125rem;
  height: 1.50125rem;
  /* position: absolute;
  bottom: 5px;
  left: 10%; */
  margin-right: 0.5rem;
  border: 0;
  cursor: pointer;
}

.search-bar img {
  background: white;
}

input {
  width: 13.625rem;
  height: 1.5rem;
  border: 0;
  outline: none;

  margin: 0 0.5rem;
}

::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  color: #7a7a7a;
}

.nav__dropdown {
  width: 11.0625rem;
  height: 2.125rem;
  /* background-color: red; */
  text-align: center;
  position: relative;
  left: -2%;
}

.nav__dropdown label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.215;
  color: #7a7a7a;
}

.nav__dropdown select {
  outline: none;
  border: none;
  background: transparent;
  color: #7a7a7a;
}

.nav__cart {
  display: flex;
  height: 2.125rem;
  align-items: center;
  position: relative;
  left: -4%;
}

.nav__cart img {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 5px;
}

.nav__cart a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: #7a7a7a;
}

.nav__btns {
  width: 7.6875rem;
  height: 3.3125rem;
  border: 1px solid #256ee4;
  background-color: white;
  border-radius: 0.3125rem;
  color: #256ee4;
  margin: 0 5px;
  cursor: pointer;
}

.btn {
  background-color: #256ee4;
  color: white;
}

.line {
  width: 100%;
  border: 1px solid #e0e0e0;
  /* margin: 1rem 0; */
}

.header-container__2ndnav {
  height: 1.8125rem;
  padding: 12px 0;
  /* margin: 0 auto; */
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #14141480;
  margin-right: 2.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
}

nav a:hover,
a:active {
  color: #256ee4;
}

#categories {
  outline: none;
  border: none;
  background: transparent;
  color: #7a7a7a;
}

/* product content*/

.sub-heading {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #7a7a7a;
  margin-bottom: 3rem;
  margin-top: 2rem;
  margin-left: 1rem;
}
.productContent-container {
  width: 80%;
  height: 45rem;
  background-color: white;
  position: relative;
  margin: auto;
}

.positioned-img {
  position: absolute;
  top: 36.5%;
  margin-right: 3rem;
  margin-left: 2rem;
}

.positioned-img img {
  width: 123px;
  height: 60px;
}

.productDetails {
  position: absolute;
  left: 44%;
  top: 2%;
}
.semo-img {
  width: 300x;
  height: 250px;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.drs {
  width: 40%;
  height: 32px;
  background-color: white;
  margin: auto;
  /* width: 476px;
  height: 32px; */
  color: #7a7a7a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.description {
  position: absolute;
  top: 59%;
}

.dSr-container {
  width: 80%;
  height: 220px;
  margin: auto;
  background-color: white;
  border: 1px solid #7a7a7a;
}

.drs-text {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #151515;
  margin-bottom: 2rem;
  text-align: justify;
}

.float {
  float: right;
  margin-right: 5%;
}

.productDetails h4 {
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
}

.ratings {
  color: #fe9b0e;
  font-size: 1rem;
}

.seller {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: justify;
  margin-bottom: 0.5rem;
}

.productDetails p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justify;
  margin-bottom: 0.3rem;
}

.productDetails h5 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.0162em;
  margin-bottom: 0.5rem;
}
.lineThru {
  text-decoration: line-through;
}

.dicount {
  width: 2.8rem;
  height: 1.375rem;
  background-color: #c9ddff;
  border-radius: 5px;
  position: absolute;
  top: 47%;
  left: 46%;
  text-align: center;
  padding: 2px;
}

.productDetails button {
  width: 442px;
  height: 53px;
  color: white;
  background-color: #256ee4;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
}
.share {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justify;
  margin-top: 0.8rem;
}

.drs h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
}

/*similar products*/
.similarProducts-container {
  width: 85%;
  height: 23rem;
  /* background-color: red; */
  margin: 2.5rem auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.similarProducts-container h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  position: absolute;
  top: 2%;
  left: 3%;
}

.similarProducts {
  width: 277px;
  height: 293px;
  background-color: white;
  border: none;
  border-radius: 5px;
  position: relative;
  margin-left: 0.5rem;
}

.similarProducts img {
  /* width: 266px;
  width: 168px; */
  margin-top: 0.5rem;
}

.products a {
  text-decoration: none;
  color: #141414;
}

.products {
  margin-top: 1rem;
  padding-left: 8px;
}

.products h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #141414;
}

.products p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0162em;
  color: #cccccc;
  margin-bottom: 0.5rem;
}

.dc {
  position: absolute;
  top: 5%;
  left: 5%;
}

.menuBtn {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 30px;
  visibility: hidden;
}

/* =====================================FOOTER============================================ */

footer {
  max-width: 100%;
  height: 22.3rem;
  background-color: white;
  display: flex;
  justify-content: space-around;

  position: relative;
  padding-top: 2rem;
}

footer h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

footer h5 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1rem;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

footer p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

.brand {
  padding: 0;
  margin-bottom: 2.5rem;
  text-align: center;
}

.together {
  margin-bottom: 0.4rem;
}

.connect {
  position: absolute;
  right: 35%;
  bottom: 5%;
}

.deals {
  margin-top: 5rem;
}

.address,
.quick-links,
.support {
  margin-top: 2rem;
}

.fab {
  color: #256ee4;
  margin-left: 0.5rem;
}

.email {
  width: 15.3rem;
  height: 3rem;
  background-color: #f2f2f2;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #f2f2f2;
  text-indent: 2rem;
}

.email::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  padding-left: 0.5rem;
  color: #e0e0e0;
}

.deals button {
  width: 8rem;
  height: 3rem;
  margin-left: -2%;
  color: white;
  background-color: #256ee4;
  border: none;
  border-radius: 0px 5px 5px 0px;
}

.rights {
  text-align: center;

  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0em;
  padding-bottom: 10px;
  background-color: white;
}

button:hover {
  opacity: 0.8;
}

.quick-links a,
.support a {
  text-decoration: none;
  color: #141414;
}

/* media query for mobile */

@media only screen and (max-width: 400px) {
  * {
    overflow-x: hidden;
  }
  .body {
    /* position: relative; */
    height: 100%;
  }

  .header-container {
    width: 100%;
    /* height: 100vh; */
  }

  .header-container__nav {
    width: 100%;
    /* overflow: hidden; */
    background-color: white;
    height: 30%;
  }

  .nav__brand h1 {
    position: absolute;
    top: 4%;
    /* width: 100px; */
  }

  .nav__dropdown {
    margin: 0px auto;
  }
  .nav__brand {
    width: 50%;
    position: absolute;
  }

  .nav__dropdown label {
    color: white;
  }

  .nav__dropdown select {
    color: white;
  }

  .nav__cart a {
    color: white;
  }

  .nav__cart img {
    color: white;
    margin: 0;
  }
  .nav__btns {
    /* width: 4rem;
    height: 2rem; */
  }
  .nav__cart {
    flex-direction: column;
    height: 20%;
    /* background-color: #256ee4; */
  }

  .menuBtn {
    visibility: visible;
  }

  .nav__search.active {
    margin-top: 0px;
  }

  .nav__search {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #256ee4;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -1600px;
  }

  .nav__brand h1 {
    font-size: 1.8rem;
    position: absolute;
    left: 5%;
    overflow-y: hidden;
  }

  .nav__cart img {
    margin-left: 1.8rem;
    position: absolute;
    top: 8%;
  }

  nav a {
    margin-right: 0;
  }

  /* product content */

  .productContent-container {
    width: 95%;
    /* background-color: red; */
    height: 95rem;
    padding: 10px;
  }

  .productDetails {
    top: 28%;
    left: 2%;
  }

  .positioned-img {
    top: 19%;
  }
  .text p {
    font-size: 14px;
  }

  .dicount {
    left: 64%;
    top: 50%;
  }

  .productDetails button {
    width: 60%;
  }

  .positioned-img img {
    width: 80px;
    height: 50px;
    margin: 0;
  }

  .semo-img {
    margin: 1rem auto;
  }

  .drs {
    width: 9 0%;
  }

  .description {
    top: 55%;
  }

  .dSr-container {
    width: 90%;
    height: 520px;
  }

  /* similar product */
  .similarProducts-container {
    flex-wrap: wrap;
    height: 90rem;
  }

  .dc {
    top: 5%;
    left: 5%;
  }

  /* footer */

  footer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    height: 60rem;
    padding-left: 2rem;
  }

  /* .supp {
    margin-top: 0;
  } */

  /* .deals {
  } */

  .email {
    width: 40%;
  }

  .email::placeholder {
    visibility: hidden;
  }

  .connect {
    top: 75%;
    left: 10%;
  }
  .connect h5 {
    font-size: 1.1rem;
  }

  .address,
  .support {
    margin-top: 0.5rem;
  }
}
