/* ======================================MEDIA QUERY============================== */
/*mobile*/
@media only screen and (max-width: 400px) {
  .header-container {
    width: 100%;
    height: 40%;
    /* position: fixed;
    z-index: 1; */
    position: relative;
    background-color: #cd6a01;
  }

  .header-container__nav {
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
    /* position: relative; */
  }

  .nav__brand h1 {
    font-size: 1rem;
  }

  .search-bar {
    width: 8rem;
  }

  /*hero*/
  .hero-container__text {
    width: 15rem;
    height: 25rem;
    background-color: red;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 13%;
    left: 13%;
    padding: 5px;
  }

  .hero button {
    position: absolute;
    left: 20%;
    margin-top: 1rem;
  }

  .hero img {
    width: 0;
    height: 0;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .hero h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 3rem;
  }

  /*Top products*/

  .topproducts-container {
    height: 100rem;
  }

  .topproducts__payment {
    width: 70%;
    /* background-color: #256ee4; */
    left: 13%;
    top: -2%;

    height: 23rem;
  }

  .container {
    top: 25%;
  }

  .tp {
    width: 75%;
    /* background-color: red; */
    flex-wrap: wrap;
    height: 20rem;
    margin-top: 1.3rem;
  }

  .card-line {
    width: 0;
    height: 0;
  }

  .topSellingPtoducts-container {
    /* background-color: #256ee4; */
    flex-wrap: wrap;
    width: 77%;
    height: 70rem;
    margin: 0 auto;
  }

  .topSellingProducts {
    margin: 0 auto;
  }

  .discount {
    top: 8%;
  }

  .disC {
    top: 31%;
  }

  /*More from my space*/

  .moreFromMyspace-container {
    width: 100%;
    background-color: whitesmoke;
    height: 87rem;
  }

  .bg {
    width: 0;
    height: 0;
  }

  .mySpace {
    width: 77%;
    height: 80rem;
    /* background-color: #256ee4; */
    flex-wrap: wrap;
    top: 6%;
    left: -4%;
  }

  .moreFromMyspace-container h3 {
    top: 4%;
    left: 23%;
  }

  .subheadings {
    font-size: 1.3rem;
  }

  .moreFromMyspace {
    background-color: #e0e0e0;
    width: 16rem;
    height: 18rem;
  }

  .moreFromMyspace img {
    width: 14rem;
  }
  .moreFromMyspace h4 {
    font-size: 1rem;
  }

  .moreFromMyspace p {
    font-size: 15px;
  }

  .ads-container {
    width: 100%;
  }

  .ads1 {
    width: 0;
    height: 0;
  }

  /* .ads-h4 {
    font-size: 1.8rem;
  } */

  .freshDeals-section {
    /* background-color: red; */
    width: 100%;
    margin-top: 0;
    height: 165rem;
  }

  .freshDeals-section h3 {
    position: absolute;
    left: 33%;
    top: 1%;
  }

  /* .freshDeals {
    width: 70%;
    height: ;
  } */

  /* .freshDeals img {
    width: 9rem;
    height: 8rem;
  } */

  .freshDeals-container {
    grid-template-columns: 1fr;
    top: 2%;
    left: 12.5%;
  }

  .flyer {
    width: 95%;
    height: 25rem;
  }

  .flyer img {
    visibility: hidden;
  }

  .flyer-text {
    width: 80%;
    left: 15%;
    top: 18%;
  }

  .flyer-text H4 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .flyer-text p {
    font-size: 1rem;
  }

  .flyer-image img {
    width: 0;
    height: 0;
  }

  /*my space*/

  .mispace {
    margin-top: 2rem;
    /* background-color: red; */
  }

  .myspace-mobile-container {
    width: 100%;
    height: 34rem;
  }

  .smartphone {
    height: 0;
    width: 0;
  }

  .myspace-mobile {
    width: 90%;
  }

  .myspace-mobile h4 {
    line-height: 3rem;
  }
  .myspace-mobile img {
    width: 40%;
    height: 3rem;
  }

  .myspace-contact {
    width: 100%;
    height: 20rem;
  }

  .center {
    width: 90%;
    /* background-color: red; */
    top: 1%;
    left: 5%;
  }

  .center p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .center h4 {
    font-size: 1rem;
    margin-bottom: 0.8em;
  }

  #email {
    width: 7rem;
    height: 2rem;
    position: absolute;
    left: 1%;
  }
  #email::placeholder {
    visibility: hidden;
  }

  .center button {
    width: 7rem;
    height: 2rem;
    position: absolute;
    left: 50%;
  }

  /* footer */

  footer {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    height: 80rem;
  }

  /* .supp {
    margin-top: 0;
  } */

  /* .deals {
  } */

  .email {
    width: 40%;
  }

  .email::placeholder {
    visibility: hidden;
  }

  .connect {
    top: 75%;
  }
}

/*maxwidth 600px*/
@media only screen and (min-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .header-container__nav {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    position: relative;

    /* background-color: yellow; */
  }

  nav a {
    margin-right: 1rem;
  }

  .nav__brand h1 {
    font-size: 1.8rem;
    font-weight: 600;

    position: absolute;
    left: 5%;
    top: 55%;
  }
  /* .query-btn {
    width: 7.6875rem;
    height: 3.3125rem;
    border: 1px solid white;
    background-color: #256ee4;
    border-radius: 0.3125rem;
    color: #256ee4;
    margin: 0 5px;
    cursor: pointer;
  } */

  .search-bar {
    width: 16rem;

    margin-left: 33rem;

    position: relative;
  }

  input {
    width: 8rem;
  }

  ::placeholder {
    visibility: collapse;
  }

  .nav__dropdown {
    visibility: hidden;
  }

  .nav__cart {
    visibility: collapse;
  }

  nav a {
    margin-right: 0.5rem;
  }

  .hero img {
    margin-top: 0.2rem;
    width: 0;
    height: 0;
    /* visibility: collapse; */
  }

  .hero-container__text {
    margin-right: 3rem;
    margin-top: 0;
  }

  .topproducts__payment {
    width: 95%;
    position: absolute;
    top: -5%;
    left: 3%;
    height: 16rem;
  }

  .tp {
    width: 75%;
    height: 15rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
  }

  .card-text h1 {
    font-size: 1.2rem;
  }

  .card-line {
    height: 0rem;
    margin-right: 0;

    visibility: hidden;
  }
  .card-text p {
    font-size: 1rem;
  }

  .payment__card img {
    float: left;
    width: 24px;
    height: 24px;
  }

  .container {
    top: 30%;
  }

  .topproducts-container {
    height: 58rem;
    /* background-color: red; */
  }

  .topSellingPtoducts-container {
    flex-wrap: wrap;
    height: 36rem;
    /* background-color: #256ee4; */
    width: 95%;
    margin: 0 auto;
  }

  .discount {
    top: 15%;
  }

  .disC {
    position: absolute;
    top: 58%;
  }

  .bg {
    width: 100%;
  }

  .moreFromMyspace-container {
    position: relative;
    background-image: linear-gradient(right, blue 80deg, red 50deg),
      url(../Img/App\ frame.png);
    background-size: cover cover;
    background-position: center;
    height: 45rem;
    width: 100%;
  }

  .mySpace {
    flex-wrap: wrap;
    /* background-color: red; */
    width: 95%;
    height: 40rem;
    margin-left: 1rem;
    top: 7%;
  }

  .moreFromMyspace {
    width: 17rem;
    height: 18rem;
  }

  .moreFromMyspace-container h3 {
    position: absolute;
    top: 3%;
    left: 30%;
  }

  .ads-container {
    /* background-color: red; */
    height: 50rem;
  }

  .freshDeals-container {
    grid-template-columns: 1fr 1fr;
  }

  .freshDeals-section {
    width: 100%;
    height: 85rem;
  }

  .freshDeals-container {
    width: 95%;
    height: 80rem;
    /* background-color: #256ee4; */
    margin: 0 auto;
  }

  .flyer img {
    visibility: hidden;
  }

  .flyer-image {
    visibility: hidden;
  }

  .flyer-text {
    position: absolute;
    left: 20%;
    top: 15%;
  }

  .flyer-text button {
    position: absolute;
    /* left: 25%; */
  }

  .myspace-mobile-container {
    width: 100%;
    height: 30rem;
  }

  .myspace-mobile {
    left: 2%;
  }

  .smartphone {
    width: 15rem;
    height: 20rem;
    visibility: hidden;
  }

  .myspace-contact {
    width: 90%;
    height: 20rem;
  }

  .center {
    left: 5%;
    top: 7%;
  }

  .center h4 {
    font-size: 2rem;
  }

  footer {
    /* background-color: red; */
    flex-wrap: wrap;
    height: 40rem;
  }

  /* .together1 {
    position: absolute;
    top: 10%;
    left: 1%;
  } */

  .brand {
    position: absolute;
    bottom: 60%;
    margin-bottom: 0;
  }

  .deals {
    margin-top: 0;
    margin-bottom: 0.5rem;
    position: absolute;
    bottom: 25%;
  }

  .connect {
    bottom: 10%;
    left: 22%;
  }

  .fab {
    margin-left: 2rem;
  }
}
