* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
/* ======================================HEADER================================================ */

.header-container {
  width: 100%;
  height: 30%;
}

.header-container__nav {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
  position: relative;
}

.nav__brand img {
  width: 1.904rem;
  height: 2rem;
}

.nav__brand {
  display: inline-flex;
  margin-right: 4rem;
  padding: 0 1rem;
}

.nav__brand h1 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #256ee4;
}
.nav__search {
  display: flex;
  position: relative;
}
.search-bar {
  width: 22.8125rem;
  height: 2.824rem;
  background-color: white;
  border-radius: 0.3125rem;
  border: 1px solid #14141438;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  flex: 1;
}

.search-bar button,
.search-bar img {
  width: 1.50125rem;
  height: 1.50125rem;
  /* position: absolute;
  bottom: 5px;
  left: 10%; */
  margin-right: 0.5rem;
  border: 0;
  cursor: pointer;
}

.search-bar img {
  background: white;
}

input {
  width: 13.625rem;
  height: 1.5rem;
  border: 0;
  outline: none;

  margin: 0 0.5rem;
}

::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  color: #7a7a7a;
}

.nav__dropdown {
  width: 11.0625rem;
  height: 2.125rem;
  /* background-color: red; */
  text-align: center;
  position: relative;
  left: -2%;
}

.nav__dropdown label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.215;
  color: #7a7a7a;
}

.nav__dropdown select {
  outline: none;
  border: none;
  background: transparent;
  color: #7a7a7a;
}

.nav__cart {
  display: flex;
  height: 2.125rem;
  align-items: center;
  position: relative;
  left: -4%;
}

.nav__cart img {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 5px;
}

.nav__cart a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: #7a7a7a;
}

.nav__btns {
  width: 7.6875rem;
  height: 3.3125rem;
  border: 1px solid #256ee4;
  background-color: white;
  border-radius: 0.3125rem;
  color: #256ee4;
  margin: 0 5px;
  cursor: pointer;
}

.btn {
  background-color: #256ee4;
  color: white;
}

.line {
  width: 100%;
  border: 1px solid #e0e0e0;
  margin: 1rem 0;
}

.header-container__2ndnav {
  height: 1.8125rem;

  margin: 0 auto;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #14141480;
  margin-right: 2.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
}

nav a:hover,
a:active {
  color: #256ee4;
}

#categories {
  outline: none;
  border: none;
  background: transparent;
  color: #7a7a7a;
}

/* ===============================CONTACT US SECTION================================ */

.contactUs-container {
  width: 100%;
  height: 13.3rem;
  background-image: url(../Img/App\ frame.png);
  position: relative;
  margin-bottom: 6rem;
}

.parag {
  font-size: 1rem;
  font-weight: 570;
  line-height: 1.5rem;
  letter-spacing: 0px;
  /* color: #3785f7; */
  text-align: center;
}

.texth4 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: center;
  color: #141414;
}

.contactUs-texts {
  width: 28rem;
  height: 6rem;
  padding-top: 2rem;
  margin: auto auto;
  /* position: absolute;
  left: 30%; */
}

/* ================================FORM SECTION========================== */

.form-container {
  width: 61.1rem;
  height: 43rem;
  /* background-color: red; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.form-container h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  color: #141414;
}

.form-container h4 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.form-container p {
  margin-top: 0;
}

.form {
  width: 26.5rem;
  height: 37rem;
  /* background-color: #256ee4; */
}

.left {
  text-align: left;
}
.size {
  display: block;
  width: 26rem;
  height: 3rem;
  padding: 29px 21px;
  border-radius: 5px;
  border: 1px solid #141414;
  /* gap: 10px */
  opacity: 0.7px;
  margin-top: 1rem;
}

.textarea {
  width: 26.5rem;
  height: 10rem;
  margin-bottom: 1rem;
}

.textarea::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0em;
  text-align: left;
}

.form button {
  width: 9.3rem;
  height: 3.3rem;
  color: white;
  background-color: #256ee4;
  border: none;
  border-radius: 5px;
}

.big {
  position: absolute;
  bottom: 4%;
  left: 3%;
}

.left-small {
  position: absolute;
  bottom: 4%;
  left: -10%;
}

.right-small {
  position: absolute;
  bottom: 4%;
  left: 31%;
}

.right-top-small {
  position: absolute;
  top: -8%;
  right: -18%;
}

/* =============================MYSPACE sECTION============================ */
.myspace-mobile-container {
  width: 100%;
  height: 24rem;
  background-image: url(../Img/App\ frame.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.myspace-mobile {
  width: 38rem;
  height: 17rem;
  /* background-color: white; */
  position: absolute;
  top: 10%;
  left: 3%;
  padding: 20px;
}

.smartphone {
  position: absolute;
  top: 10%;
  right: 9%;
}

.myspace-mobile p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin-bottom: 1rem;
  text-align: justify;
  color: #141414;
}

.myspace-mobile h4 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1rem;
}

.myspace-mobile img {
  margin-bottom: 0.5rem;
}

.blue {
  color: #256ee4;
}

.margin {
  margin-left: 1rem;
}

/* =====================================FOOTER============================================ */

footer {
  max-width: 100%;
  height: 22.3rem;
  background-color: white;
  display: flex;
  justify-content: space-around;

  position: relative;
  padding-top: 2rem;
}

footer h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

footer h5 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1rem;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

footer p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

.brand {
  padding: 0;
  margin-bottom: 2.5rem;
  text-align: center;
}

.together {
  margin-bottom: 0.4rem;
}

.connect {
  position: absolute;
  right: 35%;
  bottom: 5%;
}

.deals {
  margin-top: 5rem;
  position: relative;
}

.address,
.quick-links,
.support {
  margin-top: 2rem;
}

.fab {
  color: #256ee4;
  margin-left: 0.5rem;
}

.email {
  width: 15.3rem;
  height: 3rem;
  background-color: #f2f2f2;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #f2f2f2;
  text-indent: 2rem;
}

.email::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  padding-left: 0.5rem;
  color: #e0e0e0;
}

.deals button {
  width: 8rem;
  height: 3rem;
  margin-left: -2%;
  color: white;
  background-color: #256ee4;
  border: none;
  border-radius: 0px 5px 5px 0px;
  /* position: absolute;
  right: 3%;
  top: 28%;
  left: 80%; */
}

.rights {
  text-align: center;

  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0em;
  padding-bottom: 10px;
}

button:hover {
  opacity: 0.8;
}

.quick-links a,
.support a {
  text-decoration: none;
  color: #141414;
}

/* media query for mobile */

@media only screen and (max-width: 400px) {
  * {
    overflow-x: hidden;
  }

  .header-container {
    width: 100%;
    height: 40%;
    /* position: fixed;
    z-index: 1; */
    position: relative;
    /* background-color: #cd6a01; */
  }

  .header-container__nav {
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
    /* position: relative; */
  }

  .nav__brand h1 {
    font-size: 1.8rem;
    position: absolute;
    left: 5%;
    overflow-y: hidden;
  }

  .nav__cart img {
    margin-left: 2rem;
    position: absolute;
    top: 8%;
  }

  .nav__cart a {
    visibility: hidden;
  }

  .search-bar {
    visibility: hidden;
    /* margin-left: 5rem;
    width: 5%; */
  }

  .nav__btns,
  .nav__dropdown {
    visibility: hidden;
  }

  nav a {
    margin-right: 0;
  }

  /* contact us */

  .contactUs-texts {
    width: 80%;
    /* background-color: red; */
    height: 15rem;
    align-items: center;
  }
  .texth4 {
    font-size: 1.3rem;
  }

  .parag {
    margin-top: 1rem;
  }

  /* form section */

  .form-container {
    width: 90%;
    /* background-color: red; */
    flex-wrap: wrap;
    height: 50rem;
    gap: 2rem;
    overflow-y: hidden;
  }

  .form {
    width: 100%;
  }

  .size {
    width: 90%;
  }

  .big,
  .right-small,
  .right-top-small,
  .left-small {
    height: 0;
    width: 0;
  }

  .form button {
    width: 40%;
    margin-left: 1rem;
  }

  .form-container h4 {
    font-size: 1.5rem;
  }

  /*my space*/
  .mispace {
    margin-top: 2rem;
    /* background-color: red; */
  }

  .myspace-mobile-container {
    width: 100%;
    height: 34rem;
    overflow-y: hidden;
  }

  .smartphone {
    height: 0;
    width: 0;
  }

  .myspace-mobile {
    width: 90%;
    height: 30rem;
  }

  .myspace-mobile h4 {
    line-height: 3rem;
  }
  .myspace-mobile img {
    width: 40%;
    height: 3rem;
  }

  /* footer */

  footer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    height: 60rem;
    padding-left: 2rem;
  }

  /* .supp {
    margin-top: 0;
  } */

  /* .deals {
  } */

  .email {
    width: 40%;
  }

  .email::placeholder {
    visibility: hidden;
  }

  .connect {
    top: 75%;
    left: 10%;
  }

  .connect h5 {
    font-size: 1.1rem;
  }

  .address,
  .support {
    margin-top: 0.5rem;
  }
}
