* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background-color: #f2f7ff;
}
/* ======================================HEADER================================================ */

.header-container {
  width: 100%;
  height: 30%;
  background-color: white;
}

.header-container__nav {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
  position: relative;
}

.nav__brand img {
  width: 1.904rem;
  height: 2rem;
}

.nav__brand {
  display: inline-flex;
  margin-right: 4rem;
  padding: 0 1rem;
}

.nav__brand h1 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #256ee4;
}
.nav__search {
  display: flex;
  position: relative;
}
.search-bar {
  width: 22.8125rem;
  height: 2.824rem;
  background-color: white;
  border-radius: 0.3125rem;
  border: 1px solid #14141438;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  flex: 1;
}

.search-bar button,
.search-bar img {
  width: 1.50125rem;
  height: 1.50125rem;
  /* position: absolute;
  bottom: 5px;
  left: 10%; */
  margin-right: 0.5rem;
  border: 0;
  cursor: pointer;
}

.search-bar img {
  background: white;
}

input {
  width: 13.625rem;
  height: 1.5rem;
  border: 0;
  outline: none;

  margin: 0 0.5rem;
}

::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  color: #7a7a7a;
}

.nav__dropdown {
  width: 11.0625rem;
  height: 2.125rem;
  /* background-color: red; */
  text-align: center;
  position: relative;
  left: -2%;
}

.nav__dropdown label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.215;
  color: #7a7a7a;
}

.nav__dropdown select {
  outline: none;
  border: none;
  background: transparent;
  color: #7a7a7a;
}

.nav__cart {
  display: flex;
  height: 2.125rem;
  align-items: center;
  position: relative;
  left: -4%;
}

.nav__cart img {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 5px;
}

.nav__cart a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: #7a7a7a;
}

.nav__btns {
  width: 7.6875rem;
  height: 3.3125rem;
  border: 1px solid #256ee4;
  background-color: white;
  border-radius: 0.3125rem;
  color: #256ee4;
  margin: 0 5px;
  cursor: pointer;
}

.btn {
  background-color: #256ee4;
  color: white;
}

.line {
  width: 100%;
  border: 1px solid #e0e0e0;
  margin: 1rem 0;
}

.header-container__2ndnav {
  height: 1.8125rem;

  margin: 0 auto;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #14141480;
  margin-right: 2.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
}

nav a:hover,
a:active {
  color: #256ee4;
}

#categories {
  outline: none;
  border: none;
  background: transparent;
  color: #7a7a7a;
}

/* =============================CART SECTION======================= */
.sub-heading {
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #b8b8b8;
  margin-top: 2rem;
  margin-left: 5rem;
}

.cart-section {
  width: 80rem;
  height: 42rem;
  /* background-color: red; */
  margin: auto auto;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.cartListItems {
  width: 14rem;
  height: 41.6rem;
  background-color: white;
  position: absolute;
  left: 3%;
  padding: 1rem;
}

.cartList {
  width: 12rem;
  height: 32rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  margin-top: 1rem;
}

.items {
  width: 12rem;
  height: 3rem;
  /* background-color: #7a7a7a; */
  text-align: left;
  padding-top: 1rem;
  border-radius: 3px;
}

.items i {
  color: #b8b8b8;
  margin: 0 0.5rem;
}

.items a {
  text-decoration: none;
  color: #b8b8b8;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0em;
  text-align: left;
}

.itemsColor {
  background-color: #fafafa;
}

.logOut {
  margin-top: 3rem;
  margin-left: 1rem;
}
.cartListItems ul {
  list-style-type: none;
}

.cartHeading {
  width: 60rem;
  height: 4rem;
  background: white;
  position: absolute;
  top: 0%;
  left: 22%;
  position: relative;
}

.cartHeading h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3rem;
  letter-spacing: 0px;
  text-align: left;
  position: absolute;
  left: 5%;
  top: 35%;
}

.emptyCart-container {
  width: 60rem;
  height: 37.3rem;
  background: white;
  position: absolute;
  top: 1%;
  left: 22%;
  position: relative;
}

.emptyCart {
  width: 19rem;
  height: 18.1rem;
  background-color: white;
  position: absolute;
  top: 29%;
  left: 33%;
  text-align: center;
}

.emptyCart h5 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 0.7rem;
  color: #141414;
}

.emptyCart p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 0.7rem;
}

.emptyCart button {
  width: 13rem;
  height: 3.3rem;
  padding: 14px, 51px, 14px, 51px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #256ee4;
}

.cartListItems,
.cartHeading,
.emptyCart-container {
  border-radius: 5px;
}

/* =====================================FOOTER============================================ */

footer {
  max-width: 100%;
  height: 22.3rem;
  background-color: white;
  display: flex;
  justify-content: space-around;

  position: relative;
  padding-top: 2rem;
}

footer h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

footer h5 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1rem;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

footer p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

.brand {
  padding: 0;
  margin-bottom: 2.5rem;
  text-align: center;
}

.together {
  margin-bottom: 0.4rem;
}

.connect {
  position: absolute;
  right: 35%;
  bottom: 5%;
}

.deals {
  margin-top: 5rem;
}

.address,
.quick-links,
.support {
  margin-top: 2rem;
}

.fab {
  color: #256ee4;
  margin-left: 0.5rem;
}

.email {
  width: 15.3rem;
  height: 3rem;
  background-color: #f2f2f2;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #f2f2f2;
  text-indent: 2rem;
}

.email::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  padding-left: 0.5rem;
  color: #e0e0e0;
}

.deals button {
  width: 8rem;
  height: 3rem;
  margin-left: -2%;
  color: white;
  background-color: #256ee4;
  border: none;
  border-radius: 0px 5px 5px 0px;
}

.rights {
  text-align: center;

  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0em;
  margin-top: 0.8rem;
}

button:hover {
  opacity: 0.8;
}

.quick-links a,
.support a {
  text-decoration: none;
  color: #141414;
}

.white {
  background-color: white;
  padding: 10px;
}

.footer-line {
  margin: 0;
}

/* media query for mobile */

@media only screen and (max-width: 400px) {
  * {
    overflow-x: hidden;
  }

  .header-container {
    width: 100%;
    height: 40%;
    /* position: fixed;
    z-index: 1; */
    position: relative;
    /* background-color: #cd6a01; */
  }

  .header-container__nav {
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
    /* position: relative; */
    overflow-y: hidden;
  }

  .nav__brand h1 {
    font-size: 1.8rem;
    position: absolute;
    left: 5%;
    overflow-y: hidden;
  }

  .nav__cart img {
    margin-left: 2rem;
    position: absolute;
    top: 8%;
  }

  .nav__cart a {
    visibility: hidden;
  }

  .search-bar {
    visibility: hidden;
    /* margin-left: 5rem;
    width: 5%; */
  }

  .nav__btns,
  .nav__dropdown {
    visibility: hidden;
  }

  nav a {
    margin-right: 0;
  }

  .cart-section {
    width: 95%;
    /* background-color: red; */
    height: 25rem;
    z-index: 1;
    overflow-y: hidden;
  }

  .cartListItems,
  .cartList {
    width: 0;
    height: 0;
  }

  .cartHeading {
    width: 100%;
    left: 1%;
  }

  .emptyCart-container {
    width: 100%;
    left: 1%;
  }

  .emptyCart {
    width: 75%;
    height: 18rem;
    /* background-color: red; */
    top: 5%;
    left: 8%;
  }

  .emptyCart img {
    width: 40%;
  }

  .emptyCart button {
    width: 55%;
  }
  /* footer */

  footer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    height: 60rem;
    padding-left: 2rem;
  }

  /* .supp {
    margin-top: 0;
  } */

  /* .deals {
  } */

  .email {
    width: 40%;
  }

  .email::placeholder {
    visibility: hidden;
  }

  .connect {
    top: 75%;
    left: 10%;
  }

  .connect h5 {
    font-size: 1.1rem;
  }
  .address,
  .support {
    margin-top: 0.5rem;
  }
}
