* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
/* ======================================HEADER================================================ */

.header-container {
  width: 100vw;
  height: 30vh;
}

.header-container__nav {
  width: 90%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
  position: relative;
}

.nav__brand img {
  width: 1.904rem;
  height: 2rem;
}

.nav__brand {
  display: inline-flex;
  margin-right: 4rem;
  padding: 0 1rem;
}

.nav__brand h1 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #256ee4;
}
.nav__search {
  display: flex;
  position: relative;
}
.search-bar {
  width: 22.8125rem;
  height: 2.824rem;
  background-color: white;
  border-radius: 0.3125rem;
  border: 1px solid #14141438;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  flex: 1;
}

.search-bar button,
.search-bar img {
  width: 1.50125rem;
  height: 1.50125rem;
  /* position: absolute;
  bottom: 5px;
  left: 10%; */
  margin-right: 0.5rem;
  border: 0;
}

.search-bar img {
  background: white;
}

input {
  width: 13.625rem;
  height: 1.5rem;
  border: 0;
  outline: none;

  margin: 0 0.5rem;
}

::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  color: #7a7a7a;
}

.nav__dropdown {
  width: 11.0625rem;
  height: 2.125rem;
  /* background-color: red; */
  text-align: center;
  position: relative;
  left: -2%;
}

.nav__dropdown label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.215;
  color: #7a7a7a;
}

.nav__dropdown select {
  outline: none;
  border: none;
  background: transparent;
  color: #7a7a7a;
}

.nav__cart {
  display: flex;
  height: 2.125rem;
  align-items: center;
  position: relative;
  left: -4%;
}

.nav__cart img {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 5px;
}

.nav__cart a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: #7a7a7a;
}

.nav__btns {
  width: 7.6875rem;
  height: 3.3125rem;
  border: 1px solid #256ee4;
  background-color: white;
  border-radius: 0.3125rem;
  color: #256ee4;
  margin: 0 5px;
}

.btn {
  background-color: #256ee4;
  color: white;
}

.line {
  width: 100%;
  border: 1px solid #e0e0e0;
  margin: 1rem 0;
}

.header-container__2ndnav {
  height: 1.8125rem;

  margin: 0 auto;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #14141480;
  margin-right: 2.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
}

nav a:hover,
a:active {
  color: #256ee4;
}

#categories {
  outline: none;
  border: none;
  background: transparent;
  color: #7a7a7a;
}

/* ==========================WHO WE ARE SECTION================================ */

.whoAreWe-container {
  width: 85rem;
  height: 50rem;
  background-image: url(./Img/imge.png);
  margin-bottom: 4rem;
  position: relative;

  align-items: center;
}
.whoAreWe-intro {
  width: 45rem;
  height: 7rem;
  /* background-color: #7a7a7a; */
  position: absolute;
  top: 13%;
  text-align: center;
  left: 25%;
}

.whoAreWe-intro p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0px;
  color: #3785f7;
  margin-bottom: 1rem;
}

.whoAreWe-intro h4 {
  font-size: 35px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
}

.whoAreWe-img img {
  width: 37.4rem;
  height: 28rem;
  margin-right: 2.5rem;
}

.whoAreWe-texts {
  margin-top: 1.3rem;
}

.textImg-container {
  position: absolute;
  bottom: 1%;
  display: flex;
  width: 80rem;
  height: 32rem;
  /* background-color: red; */
  margin-left: 2.25rem;
  padding: 2rem;
}

li,
.textImg-container p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: justify;
}

.reduced-margin {
  margin-bottom: 1rem;
}

.fas {
  color: #256ee4;
  margin-right: 0.5rem;
}

ol {
  list-style: none;
}

li {
  margin-bottom: 1rem;
}

/* ===============================WHAT WE DO SECTION================================ */

.whatWeDo-Container {
  width: 80rem;
  height: 30rem;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 15px;
}

.whatWeDo-texts {
  margin-left: 1.5rem;
  margin-right: 2rem;
}

.span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: left;
  color: #3785f7;
  margin-bottom: 4rem;
}

.whatWeDoH4 {
  color: #121212;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.8rem;
  letter-spacing: 0em;
  text-align: left;
  margin: 2rem 0;
}

.whatWeDoP {
  color: #121212;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;

  margin-bottom: 1.5rem;
  text-align: justify;
}

/* ==============================MARKET PLACE SECTION============================= */

.marketPlace-container {
  margin: 5rem 0;
  /* background-color: #3785f7; */
  height: 22rem;
}

.marketPlace-img img {
  /* margin-right: 2rem; */
  margin-left: 0;
  width: 33rem;
}

.marketPlace-texts {
  width: 37rem;
  margin-top: auto;
  margin-bottom: auto;
}

.marketPlace-texts h4 {
  margin-top: 0.3rem;
  line-height: 1.2;
}

/* ==================MEET THE TEAM SECTION======================= */

.meetTeam-container {
  width: 80rem;
  height: 70rem;
  /* background-color: red; */
  margin: 0 auto;
}

.meetTeam-headings {
  text-align: center;
}
.meetTeam-headings h4 {
  margin-top: 0.4rem;
  text-align: center;
}

.meetTeam {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  margin-top: 4rem;
  margin-left: 2rem;
}

.meetTeam img {
  width: 23rem;
  height: 28rem;
}
/* =================================FOOTER================================= */

footer {
  max-width: 100%;
  height: 22.3rem;
  background-color: white;
  display: flex;
  justify-content: space-around;

  position: relative;
  padding-top: 2rem;
}

footer h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

footer h5 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1rem;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

footer p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

.brand {
  padding: 0;
  margin-bottom: 2.5rem;
  text-align: center;
}

.together {
  margin-bottom: 0.4rem;
}

.connect {
  position: absolute;
  right: 35%;
  bottom: 5%;
}

.deals {
  margin-top: 5rem;
}

.address,
.quick-links,
.support {
  margin-top: 2rem;
}

.fab {
  color: #256ee4;
  margin-left: 0.5rem;
}

.email {
  width: 15.3rem;
  height: 3rem;
  background-color: #f2f2f2;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #f2f2f2;
  text-indent: 2rem;
}

.email::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  padding-left: 0.5rem;
  color: #e0e0e0;
}

.deals button {
  width: 8rem;
  height: 3rem;
  margin-left: -2%;
  color: white;
  background-color: #256ee4;
  border: none;
  border-radius: 0px 5px 5px 0px;
}

.rights {
  text-align: center;

  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0em;
  padding-bottom: 10px;
}

button:hover {
  opacity: 0.8;
}

.quick-links a,
.support a {
  text-decoration: none;
  color: #141414;
}

/* media query for mobile */

@media only screen and (max-width: 400px) {
  * {
    overflow-x: hidden;
  }

  .header-container {
    width: 100%;
    height: 40%;
    /* position: fixed;
    z-index: 1; */
    position: relative;
    /* background-color: #cd6a01; */
  }

  .header-container__nav {
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
    /* position: relative; */
  }

  .nav__brand h1 {
    font-size: 1.8rem;
    position: absolute;
    left: 5%;
    overflow-y: hidden;
  }

  .nav__cart img {
    margin-left: 2rem;
    position: absolute;
    top: 8%;
  }

  .nav__cart a {
    visibility: hidden;
  }

  .search-bar {
    visibility: hidden;
    /* margin-left: 5rem;
    width: 5%; */
  }

  .nav__btns,
  .nav__dropdown {
    visibility: hidden;
  }

  nav a {
    margin-right: 0;
  }

  /* what are we*/

  .whoAreWe-img img {
    width: 0;
    height: 0;
  }

  .whoAreWe-container {
    width: 100%;
    height: 70rem;
  }

  .whoAreWe-intro {
    width: 60%;
    height: 14rem;
    background-color: #256ee4;
    margin: 0 auto;
    top: 3%;
  }
  .whoAreWe-intro h4 {
    font-size: 18px;
  }

  .textImg-container {
    width: 100%;
    background-color: red;
    margin: 1rem auto;
    height: 50rem;
    top: 25%;
  }

  /* what we do*/
  .whatWeDo-Container {
    width: 100%;
    height: 30rem;
    background-color: #f2f7ff;
  }

  .tansactions {
    height: 50rem;
  }

  .whatWeDo-Container img {
    width: 0;
    height: 0;
  }

  .whatWeDoH4 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  /* meet the team */
  .meetTeam-container {
    width: 90%;
    height: 125rem;
    /* background-color: red; */
  }

  .meetTeam {
    grid-template-columns: 1fr;
    margin: 3rem 0 auto;
  }
  .meetTeam img {
    width: 18rem;
    height: 18rem;
  }

  /* footer */

  footer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    height: 60rem;
    padding-left: 2rem;
  }

  /* .supp {
    margin-top: 0;
  } */

  /* .deals {
  } */

  .email {
    width: 40%;
  }

  .email::placeholder {
    visibility: hidden;
  }

  .connect {
    top: 75%;
  }

  .connect h5 {
    font-size: 1.1rem;
  }

  .address,
  .support {
    margin-top: 0.5rem;
  }
}
